body {
  background-color:#DFBA73;
  line-height: 1;
  z-index:2;
  margin:0;
}

.header {
  width:100%;
  height:40px;
  margin-inline-start: 600px;
  position:relative;
  top:-200px;
  left:0;
  z-index:2;
  transition:all .35s;
  border-bottom: 3px solid #fff;
  border-top: 3px solid #fff;
}

.header > div { width:100%; margin:0 auto;}
.header > div > * {float:left;}
.header #lnb li {float:left; padding:0 15px;}
#lnb a{display:block;  height:20px; line-height:10px; font-size:16px; font-weight:bold; color: #fff; text-decoration:none;}
#lnb a:hover {border-bottom:1px solid #fff; height:17px;}


.header img {
  position:absolute;
  top:-37px;
  left:-300px;
  padding:0 20px 0 0;
}

.h6 {
  position:absolute;
  top:-37px;
  left:-90px;
  color: #fff;
  padding:0 60px 0 0;
  font-size: 20px;
}
.sub {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 0;
    transition: all .4s;
}
ul {
  display: block;
  list style type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

ol, ul {
    list-style: none;
}


input[id="menuicon"] {
    display:none;
}

input[id="menuicon"] + label {
    display:block;
    width:40px;
    height:40px;
    left: 98.2%;
    position: relative;
    cursor: pointer;
}
input[id="menuicon"] + label span {
    display:block;
    position:absolute;
    width:100%;
    Height:5px;
    border-radius:30px;
    background:#82B8CA;
    z-index:2;
    transition:all .35s;
}

input[id="menuicon"]:checked + label {
    position:relative;
    left:98.2%;
    transition:all .35s;
    z-index:2;
}

.snb > ul > li {
  border-right: 1px solid #e1e1e1;
}
.snb > ul a:hover + ul {
  display: blocks;
}

input[id="menuicon"] + label span:nth-child(1) {
    top:0;
}
input[id="menuicon"] + label span:nth-child(2) {
    top:50%;
    transform:translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3) {
    bottom:0;
}

input[id="menuicon"]:checked + label span:nth-child(1) {
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2) {
    opacity:0;
}
input[id="menuicon"]:checked + label span:nth-child(3) {
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
}


input[id="menuicon"]:checked + label + div {
  top:0;
}


label{
  display:block;
  width:50px
  height:50px;
  background:#444;
}
input:checked ~ label {
  background:#444;
}
